* {
  font-family: 'Syne Tactile', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: unset;
}

div {
  box-sizing: border-box;
}

/* INDEX */

.button {
  padding: 12px;
  border: 1px solid burlywood;
  transition: all 0.05s ease-in-out;
}

.button:hover {
  background-color: crimson;
}

/* MAKE A CHOICE STYLES */

.MAC-container {
  height: 100vh;
}

.MAC-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10%;
  padding: 100px;
  height: 100%;
  justify-items: center;
}

.MAC-box {
  display: grid;
  justify-items: center;
  height: 100%;
  padding: 25px;
  background-color: #fae;
  transition: all .15s ease-in-out;
  border-radius: 10px;
  width: 350px;
}

.MAC-box h2 {
  font-size: 40px;
}

.item-circle {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: white;
  z-index: 2;
}

.keep-cup-circle-bg {
  background-image: url('../img/keep-cup.jpg');
  background-size: contain;
}

.disposable-cup-circle-bg {
  background-image: url('../img/disposable-cup.jpg');
  background-size: contain;
}

.hidden-content {
  opacity: 0;
  transition: opacity .15s ease-in-out;
}

.MAC-keep-cup:hover .hidden-content {
  opacity: 1;
}

.MAC-keep-cup:hover .MAC-box {
  transform: scale(1.05)
}

.MAC-disposable-cup:hover .hidden-content {
  opacity: 1;
}

.MAC-disposable-cup:hover .MAC-box {
  transform: scale(1.05)
}


/* Helpers */

.ta-center {
  text-align: center;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  min-height: 100%;
}

.video-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background-color: black;
}

.center {
  display: grid;
  justify-items: center;
}

.show {
  opacity: 1;
}

.hidden-until-fade {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: 3s opacity;
}

.fade-out {
  opacity: 0;
}