* {
  font-family: 'Syne Tactile', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2 {
  font-family: 'Anton', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

h3 {
  font-family: 'Anton', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

p {
  font-family: 'Oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  font-family: 'Oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  text-decoration: none;
  color: unset;
  Text-decoration: none !important;
}

div {
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
  color: #fff;

}

a {
  font-size: 2em;
}

/* INDEX STYLES*/

.a-button {
  padding: 12px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000000;
  transition: all 0.05s ease-in-out;
  border-radius: 8px;
}

.a-button:hover {
  background-color: #36B37E;
  color: #fff;
}

.index-container {
  display: grid;
  justify-items: center;
  padding-top: 30vh;
}

.shadow {
  color: white;
  text-shadow: 1px 1px #36B37E,
    2px 2px #36B37E,
    3px 3px #36B37E;
  transition: all 0.12s ease-out;
  -webkit-transition: all 0.12s ease-out;
  -moz-transition: all 0.12s ease-out;
  -ms-transition: all 0.12s ease-out;
  -o-transition: all 0.12s ease-out;
}

.shadow:hover {
  position: relative;

  text-shadow: 1px 1px #36B37E,
    2px 2px #36B37E,
    3px 3px #36B37E,
    4px 4px #36B37E,
    5px 5px #36B37E,
    6px 6px #36B37E;
}



/* MAKE A CHOICE STYLES */

.MAC-container {
  height: 100vh;
  background-color: black;
}

.MAC-header {
  color: white;
  text-align: center;
}

.MAC-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10%;
  padding: 50px;
  height: 100%;
  justify-items: center;
  box-sizing: border-box;
}

.MAC-box {
  display: grid;
  justify-items: center;
  height: 80%;
  padding: 25px;
  background-color: #36B37E;
  transition: all .15s ease-in-out;
  border-radius: 10px;
  width: 600px;
  z-index: 2;
  text-align: center;
}

.MAC-box h2 {
  font-size: 40px;
  color: white;
}

.MAC-box p {
  color: white;

}

.smaller-font {
  font-size: 0.75em;
}

.item-circle {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: white;
  z-index: 2;
}

.keep-cup-circle-bg {
  background-image: url('../img/keep-cup.png');
  background-size: contain;
}

.disposable-cup-circle-bg {
  background-image: url('../img/disposable-cup.jpg');
  background-size: contain;
}

.reusable-bag-bg {
  background-image: url('../img/reusable-bag.jpg');
  background-size: contain;
}

.plastic-bag-bg {
  background-image: url('../img/plastic-bag.jpg');
  background-size: contain;
}

.drive-transport-bg {
  background-image: url('../img/drive-transport.jpg');
  background-size: contain;
}

.public-transport-bg {
  background-image: url('../img/public-transport.jpg');
  background-size: contain;
}

.compost-food-bg {
  background-image: url('../img/compost-food.jpg');
  background-size: contain;
}

.waste-food-bg {
  background-image: url('../img/waste-food.jpg');
  background-size: contain;
}

.line-dry-clothes-bg {
  background-image: url('../img/line-dry-clothes.jpg');
  background-size: contain;
}

.dryer-clothes-bg {
  background-image: url('../img/dryer-clothes.jpg');
  background-size: contain;
}

.high-clothes-bg {
  background-image: url('../img/high-clothes.jpg');
  background-size: contain;
}

.low-clothes-bg {
  background-image: url('../img/low-clothes.jpg');
  background-size: contain;
}

.hidden-content {
  opacity: 0;
  transition: opacity .15s ease-in-out;
  text-align: center;
}

.MAC-item:hover .hidden-content {
  opacity: 1;
}

.MAC-item:hover .MAC-box {
  transform: scale(1.05);
  box-shadow: 1px 1px #fff,
    2px 2px #fff,
    3px 3px #fff;
  transition: all 0.12s ease-out;
  -webkit-transition: all 0.12s ease-out;
  -moz-transition: all 0.12s ease-out;
  -ms-transition: all 0.12s ease-out;
  -o-transition: all 0.12s ease-out;

}

.a-button-choice {
  padding: 10px;
  margin-top: 200px;
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
  transition: all 0.05s ease-in-out;
  border-radius: 8px;
}

.a-button-choice:hover {
  background-color: #36B37E;
  color: #fff;
  border: 1px solid #36B37E;
}


/* Resources */

.resources-container {
  background-color: black;
}

#myCarousel {
  width: 60%;
}

.carousel-caption {
  top: 50px;
  bottom: 10px;
}


/* Helpers */

.ta-center {
  text-align: center;
  padding-top: 50px;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  min-height: 100%;
  justify-content: center;
}

.video-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  background-color: black;
}

.unmute {
  color: white;
  text-align: center;
  z-index: 100;
  font-size: 24px;
}

.white {
  color: white;
}

.center {
  display: grid;
  justify-items: center;
}

.show {
  opacity: 1;
}

.hidden-until-fade {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: 3s opacity;
}

.fade-out {
  opacity: 0;
}

.mw60 {
  max-width: 60%;
}

/*  */